<div class="container">
  <h1>Your Result</h1>

  <p>Grid: <%= @letters.join(' ') %></p>
  <p>Your word: <%= @word %></p>
  <p><%= @message %></p>

  <%= link_to "Play Again", new_path, class: "btn btn-primary mt-3" %>
</div>
